html {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom right,
    rgb(243, 142, 47),
    rgb(156, 97, 41)
  );
  transition: all 5s ease-in-out;
  /* updated background color */
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
}

.modal-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
  background: white;
  border-radius: 10px;
  width: 90%;
  /* Reduce the width for smaller screens */
  max-width: 400px;
}

.modal-window p {
  width: 90%;
  /* Reduce the width for smaller screens */
  padding-bottom: 30px;
}

.modal-window h1 {
  /* Reduce the width for smaller screens */
  margin-top: 80px;
}

.close-btn {
  position: absolute;
  font-size: 30px;
  margin-top: 30px;
}

.close-btn {
  font-size: 30px;
  margin-top: 30px;
  width: 100%;
  max-width: fit-content;
  padding-left: 300px;
}

.hide {
  display: none !important;
}
